
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488780922874'); /* IE9*/
  src: url('iconfont.eot?t=1488780922874#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488780922874') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488780922874') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488780922874#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before { content: "\e600"; }

.icon-weibo:before { content: "\e603"; }

.icon-home:before { content: "\e602"; }

.icon-Qzone:before { content: "\e661"; }

.icon-01:before { content: "\e601"; }

.icon-project:before { content: "\e62e"; }

.icon-qq:before { content: "\e616"; }

.icon-forum:before { content: "\e6a8"; }

.icon-collectioned:before { content: "\e7c6"; }

.icon-order:before { content: "\e622"; }

.icon-left:before { content: "\e612"; }

.icon-release:before { content: "\e676"; }

.icon-evaluate:before { content: "\e604"; }

.icon-share:before { content: "\e67e"; }

.icon-close:before { content: "\e61a"; }

.icon-circle-of-friends:before { content: "\e63f"; }

.icon-evaluation:before { content: "\e621"; }

.icon-customer-service:before { content: "\e606"; }

.icon-presentation:before { content: "\e6eb"; }

.icon-follow:before { content: "\e7cf"; }

.icon-video:before { content: "\e633"; }

.icon-drop-down:before { content: "\e620"; }

.icon-collection-article:before { content: "\e6af"; }

.icon-time:before { content: "\e697"; }

.icon-consultation:before { content: "\e7e3"; }

.icon-choose:before { content: "\e663"; }

.icon-expert:before { content: "\e640"; }

.icon-appointment:before { content: "\e6c9"; }

.icon-universities:before { content: "\e634"; }

.icon-page-next:before { content: "\e627"; }

.icon-system-msg:before { content: "\e64a"; }

.icon-volunteer-table:before { content: "\e623"; }

.icon-professional-priority:before { content: "\e6ad"; }

.icon-choose-o:before { content: "\e65d"; }

.icon-prompt:before { content: "\e605"; }

.icon-application:before { content: "\e6b3"; }

.icon-right:before { content: "\e7e4"; }

.icon-page-pre:before { content: "\e7e5"; }

