<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 9]>
    <html class="ie8">
<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit">
	<link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <div class="breadcrumb">
        <div class="section">
            <span class="icon icon-home"></span>
            <span>首页</span><i>/</i><span>志愿填报</span>
        </div>
    </div>
	<section class="section mt20 clearfix">
        <!--left-layout  start-->
        <div class="fl user-wrapper clearfix">
            <div class="user-info">
               <a class="user-logo" href="javascript:;">
                   <img src="../assets/images/icon/icon_college_priority_pressed.png" alt="">
               </a>
               <p>VIP有效期至2017-2-2</p>
            </div>
            <div class="user-content">
               <div class="user-menu">
                   <ul class="clearfix">
                       <li>
                            <a href="javascript:;">
                                关注学院
                                <span>8989</span>
                            </a>
                       </li>
                       <li>
                            <a href="javascript:;">
                                关注专业
                                <span>898</span>
                            </a>
                       </li>
                       <li>
                            <a href="javascript:;">
                                成绩
                                <span class="score">
                                898分<i class="icon icon-drop-down"></i>
                                </span>
                            </a>
                       </li>
                   </ul>
               </div>
               <div class="user-nav">
                   <dl>
                       <dd class="active">
                            <a href="javascript:;">
                                <i class="icon icon-application"></i>
                                热门应用
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-consultation"></i>
                                我的咨询
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-follow"></i>
                                我的关注
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-forum"></i>
                                我的讲堂
                            </a>
                       </dd>
                   </dl>
               </div>

               <div class="user-nav">
                   <dl>
                       <dt>测<i>/</i>填</dt>
                       <dd class="noBorder">
                            <a href="javascript:;">
                                <i class="icon icon-evaluation"></i>
                                性格测评
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-presentation"></i>
                                录取概率报告
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-volunteer-table"></i>
                                我的志愿表
                            </a>
                       </dd>
                   </dl>
               </div>
            </div>
        </div>
        <!--left-layout  end-->

        <!--right-layout  start-->
        <div class="fr sys-wrapper clearfix">
            <!-- my-release start -->
            <div class="my-release-layout">
                <div class="my-release-title">
                    <h2><i class="icon icon-release"></i>我的发布</h2>
                </div>
                <div class="my-release-list">
                    <div class="my-release">
                        <h3>12/1</h3>
                        <div class="my-release-content">
                            <p>发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容</p>
                            <div class="my-release-img">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-release-list">
                    <div class="my-release">
                        <h3>12/1</h3>
                        <div class="my-release-content">
                            <p>发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容</p>
                            <div class="my-release-img">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- my-release end -->
            <!-- pagination start -->
            <div class="pagination">
               <ul>
                   <li><a title="上一页" href="javascript:;"><i class="icon icon-page-pre"></i></a></li>
                   <li class="active"><a href="javascript:;">1</a></li>
                   <li><a href="javascript:;">2</a></li>
                   <li><a href="javascript:;">3</a></li>
                   <li><a href="javascript:;">4</a></li>
                   <li><a href="javascript:;" disabled="disbaled">...</a></li>
                   <li><a href="javascript:;">7</a></li>
                   <li><a href="javascript:;">8</a></li>
                   <li><a href="javascript:;">9</a></li>
                   <li><a title="下一页" href="javascript:;"><i class="icon icon-page-next"></i></a></li>
               </ul>
            </div>
            <!-- pagination end -->
        </div>
        <!--right-layout  end-->
    </section>
</body>
<script src="../assets/js/jquery-1.12.1.min.js"></script>
<script src="../assets/js/common.js"></script>
</html>