<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 9]>
    <html class="ie8">
<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit">
	<link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <div class="breadcrumb">
        <div class="section">
            <span class="icon icon-home"></span>
            <span>首页</span><i>/</i><span>志愿填报</span>
        </div>
    </div>
	<section class="section mt20 clearfix">
        <!--left-layout  start-->
        <div class="fl user-wrapper clearfix">
            <div class="user-info">
               <a class="user-logo" href="javascript:;">
                   <img src="../assets/images/icon/icon_college_priority_pressed.png" alt="">
               </a>
               <p>VIP有效期至2017-2-2</p>
            </div>
            <div class="user-content">
               <div class="user-menu">
                   <ul class="clearfix">
                       <li>
                            <a href="javascript:;">
                                关注学院
                                <span>8989</span>
                            </a>
                       </li>
                       <li>
                            <a href="javascript:;">
                                关注专业
                                <span>898</span>
                            </a>
                       </li>
                       <li>
                            <a href="javascript:;">
                                成绩
                                <span class="score">
                                898分<i class="icon icon-drop-down"></i>
                                </span>
                            </a>
                       </li>
                   </ul>
               </div>
               <div class="user-nav">
                   <dl>
                       <dd class="active">
                            <a href="javascript:;">
                                <i class="icon icon-application"></i>
                                热门应用
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-consultation"></i>
                                我的咨询
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-follow"></i>
                                我的关注
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-forum"></i>
                                我的讲堂
                            </a>
                       </dd>
                   </dl>
               </div>

               <div class="user-nav">
                   <dl>
                       <dt>测<i>/</i>填</dt>
                       <dd class="noBorder">
                            <a href="javascript:;">
                                <i class="icon icon-evaluation"></i>
                                性格测评
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-presentation"></i>
                                录取概率报告
                            </a>
                       </dd>
                       <dd>
                            <a href="javascript:;">
                                <i class="icon icon-volunteer-table"></i>
                                我的志愿表
                            </a>
                       </dd>
                   </dl>
               </div>
            </div>
        </div>
        <!--left-layout  end-->

        <!--right-layout  start-->
        <div class="fr sys-wrapper clearfix">
            <!-- tab-layout start -->
            <div class="tab-layout">
                <div class="tab-nav clearfix">
                    <ul>
                        <li class="active"><i class="icon icon-universities"></i>院校</li>
                        <li><i class="icon icon-professional-priority"></i>专业</li>
                        <li><i class="icon icon-expert"></i>专家</li>
                    </ul>
                </div>
                <div class="tab-content clearfix">
                    <div class="tab-content-list">
                        <!-- paneType -->
                        <!-- tab列表样式 院校 school  start-->
                        <div class="tab-paneType-school">
                            <div class="tab-pane-left fl">
                                <a href="javascript" class="tab-pane-img">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                            <div class="tab-pane-center fl">
                                <div class="tab-pane-center-info">
                                    <a href="javascript:;" title="北京大学">北京大学</a>
                                    <span>123</span>
                                    <span class="deepColor">898</span>
                                </div>
                                <div class="tab-pane-center-info">
                                    <label for="">院校类型：综合类</label>
                                    <label for="">院校隶属：教育部</label>
                                </div>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" class="vo-btn vo-btn-primary vo-btn-lg">测录取概率</a>
                                <a href="javascript:;" class="vo-btn vo-btn-cancel vo-btn-lg">取消关注</a>
                            </div>
                        </div>
                        <!-- tab列表样式 院校 school  end-->
                        <!-- tab列表样式 专业 major  start-->
                        <div class="tab-paneType-major">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;" title="专业名称">专业名称</a>
                                <p>
                                    <label for="">专业门类：专科</label>
                                    <label for="">学历层次：层次层次层次</label>
                                </p>
                                <p>
                                    <label for="">专业门类：专科</label>
                                    <label for="">学历层次：层次层次层次</label>
                                </p>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" class="vo-btn vo-btn-primary vo-btn-lg" title="专业优先填报">专业优先填报</a>
                                <a href="javascript:;" class="vo-btn vo-btn-cancel vo-btn-lg" title="取消关注">取消关注</a>
                            </div>
                        </div>
                        <!-- tab列表样式 专业 major  end-->
                        <!-- tab列表样式 专家 expert start-->
                        <div class="tab-paneType-expert">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                            <div class="tab-pane-center fl">
                                <div class="tab-pane-center-info"><a href="javascript:;" title="专家名称">专家名称</a></div>
                                <div class="tab-pane-center-info">
                                    <span for="" class="mark">服务</span>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                </div>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" class="vo-btn vo-btn-primary vo-btn-md" title="咨询">咨询</a>
                                <a href="javascript:;" class="vo-btn vo-btn-cancel vo-btn-md" title="取消关注">取消关注</a>
                            </div>
                        </div>
                        <!-- tab列表样式 专家 expert end-->
                    </div>
                    <div class="tab-content-list">
                        <div class="tab-paneType-major">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;" title="专业名称">专业名称</a>
                                <p>
                                    <label for="">专业门类：专科</label>
                                    <label for="">学历层次：层次层次层次</label>
                                </p>
                                <p>
                                    <label for="">专业门类：专科</label>
                                    <label for="">学历层次：层次层次层次</label>
                                </p>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" class="vo-btn vo-btn-primary vo-btn-lg" title="专业优先填报">专业优先填报</a>
                                <a href="javascript:;" class="vo-btn vo-btn-cancel vo-btn-lg" title="取消关注">取消关注</a>
                            </div>
                        </div>
                        <div class="tab-paneType-major">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;" title="专业名称">专业名称</a>
                                <p>
                                    <label for="">专业门类：专科</label>
                                    <label for="">学历层次：层次层次层次</label>
                                </p>
                                <p>
                                    <label for="">专业门类：专科</label>
                                    <label for="">学历层次：层次层次层次</label>
                                </p>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" class="vo-btn vo-btn-primary vo-btn-lg" title="专业优先填报">专业优先填报</a>
                                <a href="javascript:;" class="vo-btn vo-btn-cancel vo-btn-lg" title="取消关注">取消关注</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-list">
                        <div class="tab-paneType-expert">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                            <div class="tab-pane-center fl">
                                <div class="tab-pane-center-info"><a href="javascript:;" title="专家名称">专家名称</a></div>
                                <div class="tab-pane-center-info">
                                    <span for="" class="mark">服务</span>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                </div>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" class="vo-btn vo-btn-primary vo-btn-md" title="咨询">咨询</a>
                                <a href="javascript:;" class="vo-btn vo-btn-cancel vo-btn-md" title="取消关注">取消关注</a>
                            </div>
                        </div>
                        <div class="tab-paneType-expert">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                            <div class="tab-pane-center fl">
                                <div class="tab-pane-center-info"><a href="javascript:;" title="专家名称">专家名称</a></div>
                                <div class="tab-pane-center-info">
                                    <span for="" class="mark">服务</span>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                    <label for="">服务名称</label>
                                </div>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" class="vo-btn vo-btn-primary vo-btn-md" title="咨询">咨询</a>
                                <a href="javascript:;" class="vo-btn vo-btn-cancel vo-btn-md" title="取消关注">取消关注</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tab-layout end -->

            <!-- tab-layout start -->
            <div class="tab-layout">
                <div class="tab-nav clearfix">
                    <ul>
                        <li class="active"><i class="icon icon-order"></i>订单</li>
                        <li><i class="icon icon-video"></i>视频</li>
                        <li><i class="icon icon-appointment"></i>预约</li>
                    </ul>
                </div>
                <div class="tab-content clearfix">
                    <div class="tab-content-list">
                        <!-- paneType -->
                        <!-- tab列表样式 订单 order  start-->
                        <div class="tab-paneType-order">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                            <div class="tab-pane-center fl">
                                <dl>
                                    <dt>
                                        <a href="javascript:;" title="订单名称">订单名称</a>
                                    </dt>
                                    <dd>
                                        <i class="icon icon-username"></i>
                                        <span>名称名称</span>
                                    </dd>
                                    <dd>
                                        <i class="icon icon-project"></i>
                                        <span>项目名称</span>
                                    </dd>
                                    <dd>
                                        <i class="icon icon-time"></i>
                                        <span>2017-2-2</span>
                                    </dd>
                                </dl>
                            </div>
                            <div class="tab-pane-right fr">
                                <a href="javascript:;" title="删除">
                                    <i class="icon icon-delete"></i>
                                </a>
                                <div class="money"><span>&yen;110</span></div>
                            </div>
                        </div>
                        <!-- tab列表样式 订单 order  end-->
                    </div>
                    <div class="tab-content-list">
                        <div class="tab-paneType-video">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;">
                                    <i class="icon icon-video"></i>
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                            <div class="tab-pane-right fl">
                                <a href="javascript:;">测试名称测试名称测试名称测试名称测试名称测试名称</a>
                                <p>测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-list">
                        <div class="tab-paneType-appointment">
                            <div class="tab-pane-left fl">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                            <div class="tab-pane-right fl">
                                <a href="javascript:;">测试名称测试名称测试名称测试名称测试名称测试名称</a>
                                <p>测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- tab-layout end -->

            <!-- my-release start -->
            <div class="my-release-layout">
                <div class="my-release-title">
                    <h2><i class="icon icon-release"></i>我的发布</h2>
                </div>
                <div class="my-release-list">
                    <div class="my-release">
                        <h3>12/1</h3>
                        <div class="my-release-content">
                            <p>发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容</p>
                            <div class="my-release-img">
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                                <a href="javascript:;">
                                    <img src="../assets/images/pic_banner.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-release-list">
                    <div class="my-release">
                        <h3>12/1</h3>
                        <div class="my-release-content">
                            <p>发布测试内容发布测试内容发布测试内容发布测试内容发布测试内容</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- my-release end -->

            <!-- pagination start -->
            <div class="pagination">
               <ul>
                   <li><a title="上一页" href="javascript:;"><i class="icon icon-page-pre"></i></a></li>
                   <li class="active"><a href="javascript:;">1</a></li>
                   <li><a href="javascript:;">2</a></li>
                   <li><a href="javascript:;">3</a></li>
                   <li><a href="javascript:;">4</a></li>
                   <li><a href="javascript:;" disabled="disbaled">...</a></li>
                   <li><a href="javascript:;">7</a></li>
                   <li><a href="javascript:;">8</a></li>
                   <li><a href="javascript:;">9</a></li>
                   <li><a title="下一页" href="javascript:;"><i class="icon icon-page-next"></i></a></li>
               </ul>
            </div>
            <!-- pagination end -->
        </div>
        <!--right-layout  end-->
    </section>
</body>
<script src="../assets/js/jquery-1.12.1.min.js"></script>
<script src="../assets/js/common.js"></script>
</html>