html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
  list-style: none;
  font-size: 14px;
  font-family: 'Microsoft YaHei', 'San-serif', 'Microsoft JhengHei', 'STXihei';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer; }

a:active,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none; }

img {
  max-width: 100%;
  font-size: 0;
  border: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.noBorder {
  border: none !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

body {
  background-color: #f2f2f2; }

.section {
  width: 1200px;
  height: auto;
  margin: 0 auto; }

.widget-title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  position: relative; }
  .widget-title:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 22px;
    background-color: #82b9f3;
    left: 0;
    top: 5px;
    z-index: 1; }
  .widget-title p {
    width: 100%;
    padding-left: 20px; }
    .widget-title p label {
      font-size: 18px;
      color: #3d3d3d; }
    .widget-title p span {
      font-size: 14px;
      color: #7f7f7f; }
      .widget-title p span font {
        color: #ff2a2a;
        font-size: 18px; }
    .widget-title p a.vo-btn {
      float: right;
      text-align: center; }

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot?t=1488780922874");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1488780922874#iefix") format("embedded-opentype"), url("../font/iconfont.woff?t=1488780922874") format("woff"), url("../font/iconfont.ttf?t=1488780922874") format("truetype"), url("../font/iconfont.svg?t=1488780922874#iconfont") format("svg");
  /* iOS 4.1- */ }
.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-wechat:before {
  content: "\e600"; }

.icon-delete:before {
  content: "\e607"; }

.icon-weibo:before {
  content: "\e603"; }

.icon-home:before {
  content: "\e602"; }

.icon-Qzone:before {
  content: "\e661"; }

.icon-username:before {
  content: "\e601"; }

.icon-project:before {
  content: "\e62e"; }

.icon-qq:before {
  content: "\e616"; }

.icon-forum:before {
  content: "\e6a8"; }

.icon-collectioned:before {
  content: "\e7c6"; }

.icon-order:before {
  content: "\e622"; }

.icon-left:before {
  content: "\e612"; }

.icon-release:before {
  content: "\e676"; }

.icon-evaluate:before {
  content: "\e604"; }

.icon-share:before {
  content: "\e67e"; }

.icon-close:before {
  content: "\e61a"; }

.icon-circle-of-friends:before {
  content: "\e63f"; }

.icon-evaluation:before {
  content: "\e621"; }

.icon-customer-service:before {
  content: "\e606"; }

.icon-presentation:before {
  content: "\e6eb"; }

.icon-follow:before {
  content: "\e7cf"; }

.icon-video:before {
  content: "\e633"; }

.icon-drop-down:before {
  content: "\e620"; }

.icon-collection-article:before {
  content: "\e6af"; }

.icon-time:before {
  content: "\e697"; }

.icon-consultation:before {
  content: "\e7e3"; }

.icon-choose:before {
  content: "\e663"; }

.icon-expert:before {
  content: "\e640"; }

.icon-appointment:before {
  content: "\e6c9"; }

.icon-universities:before {
  content: "\e634"; }

.icon-page-next:before {
  content: "\e627"; }

.icon-system-msg:before {
  content: "\e64a"; }

.icon-volunteer-table:before {
  content: "\e623"; }

.icon-professional-priority:before {
  content: "\e6ad"; }

.icon-choose-o:before {
  content: "\e65d"; }

.icon-prompt:before {
  content: "\e605"; }

.icon-application:before {
  content: "\e6b3"; }

.icon-right:before {
  content: "\e7e4"; }

.icon-page-pre:before {
  content: "\e7e5"; }

.breadcrumb {
  width: 100%;
  height: 32px;
  line-height: 32px;
  color: #737373;
  border-bottom: 1px solid #d9d9d9; }
  .breadcrumb span, .breadcrumb i {
    font-size: 12px; }
  .breadcrumb i {
    margin: 0 3px;
    font-style: normal; }
  .breadcrumb span.icon {
    font-size: 16px;
    vertical-align: middle; }

.pagination {
  width: 100%;
  height: 40px;
  text-align: center; }
  .pagination ul {
    display: inline-block;
    padding: 10px 0; }
    .pagination ul li {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      float: left;
      margin: 0 5px;
      text-align: center; }
      .pagination ul li a {
        display: inline-block;
        width: 20px;
        height: 20px;
        color: #b9b9b9;
        font-size: 12px; }
        .pagination ul li a[disabled] {
          cursor: default !important; }
        .pagination ul li a i {
          font-size: 22px;
          vertical-align: middle; }
      .pagination ul li.active {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: #1e83ee; }
        .pagination ul li.active a {
          color: #fff; }

.vo-btn {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 35px;
  line-height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  text-align: center;
  background-clip: padding-box;
  background-color: #fff;
  cursor: pointer; }
  .vo-btn.vo-btn-lg {
    width: 100px; }
  .vo-btn.vo-btn-md {
    width: 75px; }
  .vo-btn.vo-btn-primary {
    border-color: #1e83ee;
    background-color: #1e83ee;
    color: #fff; }
  .vo-btn.vo-btn-cancel {
    border-color: #a8a8a8;
    background-color: #fff;
    color: #a8a8a8; }
  .vo-btn.vo-btn-none {
    background-color: transparent !important;
    border: none !important;
    color: #9b9b9b; }

table.vo-table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle; }
  table.vo-table thead tr {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: #d1e7ff; }
    table.vo-table thead tr th {
      font-size: 18px;
      color: #515151;
      border: 1px solid #d1d1d1; }
  table.vo-table tbody tr {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: #fff; }
    table.vo-table tbody tr td {
      font-size: 16px;
      color: #616161;
      border: 1px solid #d1d1d1; }

.user-wrapper {
  width: 300px;
  height: auto;
  overflow: hidden;
  background-color: #fff; }
  .user-wrapper .user-info {
    width: 100%;
    height: 122px;
    overflow: hidden;
    background: url("../images/pic_back.png");
    background-repeat: no-repeat;
    background-size: cover; }
    .user-wrapper .user-info a.user-logo {
      display: block;
      width: 70px;
      height: 70px;
      margin: 15px auto;
      border: 1px solid #1e83ee;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      background-clip: padding-box; }
    .user-wrapper .user-info p {
      font-size: 14px;
      color: #fff;
      text-align: center; }
  .user-wrapper .user-content {
    width: 100%;
    height: auto;
    border: 1px solid #f9f9f9; }
    .user-wrapper .user-content .user-menu {
      width: 100%;
      height: auto;
      padding: 20px 10px; }
      .user-wrapper .user-content .user-menu ul li {
        width: 33%;
        height: 40px;
        float: left;
        text-align: center;
        border-left: 1px solid #d9d9d9; }
        .user-wrapper .user-content .user-menu ul li:first-child {
          border-left: none; }
        .user-wrapper .user-content .user-menu ul li a {
          font-size: 14px;
          color: #737373;
          line-height: 20px; }
          .user-wrapper .user-content .user-menu ul li a span {
            display: block;
            color: #434242; }
            .user-wrapper .user-content .user-menu ul li a span.score {
              color: #fd6624; }
              .user-wrapper .user-content .user-menu ul li a span.score i.icon {
                font-size: 13px;
                color: #7a7a7a; }
    .user-wrapper .user-content .user-nav {
      width: 100%;
      height: auto; }
      .user-wrapper .user-content .user-nav dl dt, .user-wrapper .user-content .user-nav dl dd {
        padding-left: 30px; }
      .user-wrapper .user-content .user-nav dl dt {
        background-color: #f2f2f2;
        color: #7a7a7a;
        line-height: 30px;
        height: 30px;
        font-size: 14px;
        position: relative; }
        .user-wrapper .user-content .user-nav dl dt:before, .user-wrapper .user-content .user-nav dl dt:after {
          position: absolute;
          content: "";
          width: 10px;
          height: 30px;
          background-color: #f2f2f2;
          z-index: 9; }
        .user-wrapper .user-content .user-nav dl dt:before {
          left: -5px;
          top: 0; }
        .user-wrapper .user-content .user-nav dl dt:after {
          right: -5px;
          top: 0; }
        .user-wrapper .user-content .user-nav dl dt i {
          font-size: 14px;
          font-style: normal;
          margin: 0 3px; }
      .user-wrapper .user-content .user-nav dl dd {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #d9d9d9; }
        .user-wrapper .user-content .user-nav dl dd:first-child {
          border-top: none; }
        .user-wrapper .user-content .user-nav dl dd.active a, .user-wrapper .user-content .user-nav dl dd:hover a {
          color: #1e83ee; }
          .user-wrapper .user-content .user-nav dl dd.active a i, .user-wrapper .user-content .user-nav dl dd:hover a i {
            color: #1e83ee; }
        .user-wrapper .user-content .user-nav dl dd a {
          display: inline-block;
          width: 100%;
          height: 40px;
          font-size: 14px;
          color: #737373; }
          .user-wrapper .user-content .user-nav dl dd a i {
            font-size: 20px;
            margin-right: 8px;
            vertical-align: middle;
            color: #7a7a7a; }

.sys-wrapper {
  width: 880px;
  height: auto;
  background-color: #fff;
  border: 1px solid #dfdfdf; }
  .sys-wrapper .my-release-layout {
    width: 100%;
    height: auto;
    position: relative; }
    .sys-wrapper .my-release-layout:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #ebebeb;
      left: 40px;
      top: 40px;
      z-index: 9; }
    .sys-wrapper .my-release-layout:after {
      position: absolute;
      content: "";
      width: 30px;
      height: 40px;
      left: 30px;
      bottom: -40px;
      background-color: #fff;
      z-index: 10; }
    .sys-wrapper .my-release-layout .my-release-title {
      width: 120px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 55px;
      -webkit-border-radius: 0 20px 20px 0;
      -moz-border-radius: 0 20px 20px 0;
      -ms-border-radius: 0 20px 20px 0;
      -o-border-radius: 0 20px 20px 0;
      border-radius: 0 20px 20px 0;
      background-color: #7cb8f8; }
      .sys-wrapper .my-release-layout .my-release-title h2 {
        line-height: 40px;
        color: #fff;
        font-size: 16px; }
        .sys-wrapper .my-release-layout .my-release-title h2 i.icon {
          font-size: 24px;
          vertical-align: middle;
          margin: 0 5px; }
    .sys-wrapper .my-release-layout .my-release-list {
      width: 100%;
      min-height: 50px;
      height: auto;
      padding-left: 70px;
      padding-right: 160px;
      margin-bottom: 25px;
      overflow: hidden;
      position: relative; }
      .sys-wrapper .my-release-layout .my-release-list:last-child:before, .sys-wrapper .my-release-layout .my-release-list.last:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 100%;
        left: 35px;
        top: 0;
        background-color: #fff;
        z-index: 10; }
      .sys-wrapper .my-release-layout .my-release-list .my-release {
        position: relative; }
        .sys-wrapper .my-release-layout .my-release-list .my-release h3 {
          position: absolute;
          display: block;
          width: 33px;
          height: 33px;
          text-align: center;
          line-height: 33px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          background-color: #7cb8f8;
          color: #3e90f0;
          font-size: 14px;
          left: -47px;
          top: 0px;
          z-index: 11; }
        .sys-wrapper .my-release-layout .my-release-list .my-release .my-release-content {
          width: 100%;
          height: auto;
          padding-top: 5px; }
          .sys-wrapper .my-release-layout .my-release-list .my-release .my-release-content p {
            font-size: 16px;
            line-height: 20px;
            color: #4f4f4f;
            margin-bottom: 7px; }
          .sys-wrapper .my-release-layout .my-release-list .my-release .my-release-content .my-release-img {
            width: 100%;
            height: auto;
            font-size: 0; }
            .sys-wrapper .my-release-layout .my-release-list .my-release .my-release-content .my-release-img a {
              display: inline-block;
              width: 180px;
              height: 130px;
              margin-right: 7px;
              overflow: hidden; }
              .sys-wrapper .my-release-layout .my-release-list .my-release .my-release-content .my-release-img a img {
                width: 180px; }

.tab-layout {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #fff; }
  .tab-layout .tab-nav {
    width: 100%;
    height: auto; }
    .tab-layout .tab-nav ul li {
      float: left;
      width: 33.3333%;
      height: 52px;
      line-height: 52px;
      font-size: 16px;
      color: #727272;
      text-align: center;
      background-color: #ececec;
      border-left: 1px solid #f8f8f8;
      cursor: pointer; }
      .tab-layout .tab-nav ul li:first-child {
        border-left: none; }
      .tab-layout .tab-nav ul li.active, .tab-layout .tab-nav ul li:hover {
        color: #fff;
        background-color: #58a6f9; }
      .tab-layout .tab-nav ul li i.icon {
        font-size: 20px;
        margin-right: 5px;
        vertical-align: middle; }
  .tab-layout .tab-content {
    width: 100%;
    height: auto; }
    .tab-layout .tab-content .tab-content-list {
      width: 100%;
      height: auto;
      display: none; }
      .tab-layout .tab-content .tab-content-list:first-child {
        display: block; }
      .tab-layout .tab-content .tab-content-list .tab-paneType-school {
        width: 100%;
        height: 150px;
        padding: 20px 0;
        border-bottom: 1px solid #e8e8e8;
        overflow: hidden; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-left {
          width: 110px;
          height: 110px;
          padding: 4px;
          overflow: hidden; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-left a {
            display: block;
            width: 100px;
            height: 100px;
            border: 1px solid #d9d9d9;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            background-clip: padding-box; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-left a img {
              width: 100px;
              height: 100px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-center {
          width: -webkit-calc(100% - (120px + 102px));
          width: -moz-calc(100% - (120px + 102px));
          width: -o-calc(100% - (120px + 102px));
          width: calc(100% - (120px + 102px));
          height: auto;
          padding: 15px 10px; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-center .tab-pane-center-info {
            width: 100%;
            height: 30px;
            line-height: 30px; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-center .tab-pane-center-info:first-child {
              margin-bottom: 20px; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-center .tab-pane-center-info a {
              display: inline-block;
              font-size: 22px;
              color: #3e3e3e;
              line-height: 30px;
              float: left; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-center .tab-pane-center-info span {
              display: block;
              width: 30px;
              height: 30px;
              float: left;
              font-size: 14px;
              line-height: 30px;
              margin-left: 5px;
              text-align: center;
              color: #fff;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%;
              background-color: #87baf0; }
              .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-center .tab-pane-center-info span.deepColor {
                background-color: #509ef1; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-center .tab-pane-center-info label {
              font-size: 16px;
              color: #595959;
              margin-right: 20px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-right {
          width: 102px;
          height: auto;
          padding: 14px 0; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-school .tab-pane-right a.vo-btn:first-child {
            margin-bottom: 10px; }
      .tab-layout .tab-content .tab-content-list .tab-paneType-major {
        width: 100%;
        height: 115px;
        overflow: hidden;
        border-bottom: 1px solid #e8e8e8; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-major .tab-pane-left {
          width: -webkit-calc(100% - 102px);
          width: -moz-calc(100% - 102px);
          width: -o-calc(100% - 102px);
          width: calc(100% - 102px);
          height: auto;
          padding: 20px 0; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-major .tab-pane-left a {
            font-size: 18px;
            color: #3e3e3e;
            line-height: 30px; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-major .tab-pane-left p {
            line-height: 22px;
            font-size: 14px;
            color: #8b8b8b; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-major .tab-pane-left p label {
              display: inline-block;
              width: 170px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-major .tab-pane-right {
          width: 102px;
          height: auto;
          padding: 14px 0; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-major .tab-pane-right a.vo-btn:first-child {
            font-size: 14px;
            margin-bottom: 10px; }
      .tab-layout .tab-content .tab-content-list .tab-paneType-expert {
        width: 100%;
        height: 115px;
        background-color: #f5faff;
        margin-top: 20px;
        border-bottom: 1px solid #e5ecf5;
        padding: 18px 0;
        position: relative; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-expert:before, .tab-layout .tab-content .tab-content-list .tab-paneType-expert:after {
          position: absolute;
          content: "";
          width: 20px;
          height: 100%;
          background-color: #f5faff;
          border-bottom: 1px solid #e5ecf5; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-expert:before {
          top: 0;
          left: -20px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-expert:after {
          top: 0;
          right: -20px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-left {
          width: 80px;
          height: auto;
          overflow: hidden; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-left a {
            display: block;
            width: 78px;
            height: 78px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            background-clip: padding-box; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-left a img {
              width: 78px;
              height: 78px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-center {
          width: -webkit-calc(100% - (80px + 77px));
          width: -moz-calc(100% - (80px + 77px));
          width: -o-calc(100% - (80px + 77px));
          width: calc(100% - (80px + 77px));
          height: auto;
          padding: 8px 20px; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-center .tab-pane-center-info {
            width: 100%;
            height: 30px;
            line-height: 30px;
            overflow: hidden; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-center .tab-pane-center-info:first-child {
              margin-bottom: 8px; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-center .tab-pane-center-info a {
              font-size: 18px;
              color: #4b4b4b;
              line-height: 30px; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-center .tab-pane-center-info span.mark {
              background-color: #e1c12d;
              padding: 3px 4px;
              font-size: 14px;
              color: #fff; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-center .tab-pane-center-info label {
              font-size: 12px;
              color: #595959;
              margin-right: 10px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-right {
          width: 77px;
          height: auto; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-expert .tab-pane-right a.vo-btn:first-child {
            font-size: 16px;
            margin-bottom: 10px; }
      .tab-layout .tab-content .tab-content-list .tab-paneType-order {
        width: 100%;
        height: 135px;
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 0; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-left {
          width: 200px;
          height: auto; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-left a {
            display: block;
            width: 195px;
            height: 94px;
            overflow: hidden;
            border: 1px solid #d4d4d5; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-left a img {
              width: 195px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-center {
          width: -webkit-calc(100% - (200px + 100px));
          width: -moz-calc(100% - (200px + 100px));
          width: -o-calc(100% - (200px + 100px));
          width: calc(100% - (200px + 100px));
          height: auto;
          padding: 0 20px;
          overflow: hidden; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-center dl dt a {
            font-size: 18px;
            color: #4b4b4b;
            line-height: 30px; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-center dl dd {
            line-height: 22px;
            text-align: left; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-center dl dd span {
              font-size: 14px;
              color: #6d6d6d; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-center dl dd i.icon {
              color: #a9a9a9; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-right {
          width: 100px;
          height: 100%;
          text-align: right;
          position: relative; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-right a i.icon {
            color: #adadad;
            font-size: 18px; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-right .money {
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-order .tab-pane-right .money span {
              font-size: 16px;
              color: #ff402c; }
      .tab-layout .tab-content .tab-content-list .tab-paneType-video, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment, .tab-layout .tab-content .tab-content-list .tab-paneType-article {
        width: 100%;
        height: 135px;
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 0; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-left, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-left, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-left {
          width: 150px;
          height: auto; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-left a, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-left a, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-left a {
            display: block;
            width: 134px;
            height: 94px;
            overflow: hidden;
            border: 1px solid #d4d4d5;
            position: relative; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-left a:after, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-left a:after, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-left a:after {
              position: absolute;
              width: 134px;
              height: 94px;
              content: "";
              background-color: rgba(0, 0, 0, 0.5);
              top: 0;
              left: 0;
              right: 0;
              z-index: 9; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-left a i.icon, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-left a i.icon, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-left a i.icon {
              position: absolute;
              display: block;
              width: 40px;
              height: 40px;
              font-size: 40px;
              color: #fff;
              top: 50%;
              left: 50%;
              margin-left: -20px;
              margin-top: -20px;
              z-index: 10; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-left a img, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-left a img, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-left a img {
              width: 134px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-right, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-right, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-right {
          width: -webkit-calc(100% - 150px);
          width: -moz-calc(100% - 150px);
          width: -o-calc(100% - 150px);
          width: calc(100% - 150px);
          height: 100%;
          padding-right: 130px;
          overflow: hidden; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-right a, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-right a, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-right a {
            display: inline-block;
            width: 100%;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            color: #3e3e3e; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-video .tab-pane-right p, .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-right p, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-right p {
            font-size: 14px;
            color: #8c8c8c;
            line-height: 22px; }
      .tab-layout .tab-content .tab-content-list .tab-paneType-appointment .tab-pane-left a:after, .tab-layout .tab-content .tab-content-list .tab-paneType-article .tab-pane-left a:after {
        display: none; }
      .tab-layout .tab-content .tab-content-list .tab-paneType-consultation {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 0; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-top {
          width: 100%;
          height: 60px;
          line-height: 60px; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-top span {
            font-size: 18px;
            color: #4b4b4b;
            vertical-align: middle; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-top span.userlogo {
              display: inline-block;
              width: 60px;
              height: 60px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%;
              overflow: hidden;
              background-clip: padding-box;
              margin-right: 10px; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-center {
          width: 100%;
          height: auto;
          padding: 10px 0;
          font-size: 14px;
          line-height: 20px;
          color: #767676; }
        .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-bottom {
          width: 100%;
          height: 20px;
          text-align: right; }
          .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-bottom a {
            color: #a7a7a7;
            font-size: 12px;
            margin-left: 10px; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-bottom a i.icon {
              color: #a7a7a7;
              font-size: 20px;
              vertical-align: middle; }
            .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-bottom a.active {
              color: #1e83ee !important; }
              .tab-layout .tab-content .tab-content-list .tab-paneType-consultation .tab-pane-bottom a.active i.icon {
                color: #1e83ee !important; }

.widget {
  width: 100%;
  height: auto;
  padding: 20px; }
  .widget .widget-body {
    width: 100%;
    height: auto;
    margin-top: 10px; }
    .widget .widget-body:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }

.drawData-layout {
  width: 100%;
  height: auto;
  padding: 20px; }
  .drawData-layout ul li {
    float: left;
    width: 185px;
    height: 285px;
    text-align: center;
    border: 1px solid #e0e0e0;
    margin-left: 32px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #e0e0e0;
    overflow: hidden; }
    .drawData-layout ul li:first-child {
      margin-left: 0; }
    .drawData-layout ul li h3 {
      font-size: 18px;
      color: #474747;
      height: 60px;
      line-height: 60px; }
    .drawData-layout ul li p {
      display: inline-block;
      width: 100%;
      height: 40px;
      margin-top: 10px; }
    .drawData-layout ul li .dataList {
      position: relative;
      width: 100%;
      height: 150px;
      overflow: hidden; }
      .drawData-layout ul li .dataList canvas {
        position: absolute;
        width: 280px;
        height: 280px;
        left: 50%;
        top: 0;
        margin-left: -140px;
        margin-top: -70px;
        transform: scale(0.5); }
        .drawData-layout ul li .dataList canvas.circle {
          z-index: 9; }
        .drawData-layout ul li .dataList canvas.solidCircle {
          z-index: 1;
          top: 0; }

/*# sourceMappingURL=index.css.map */
